.product-detail {
    &__container {
        max-width: 750px;
        width: 100%;
        margin: 0 auto;

        img {
            display: block;
            width: 100%;
        }
    }
    &__box {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid black;
    }
    &-price {
        font-weight: bold;
        font-size: 19px;
    }
    &-btn {
        padding: 5px 10px;
        background-color: rgb(121, 185, 17);
        color: black;
        border-radius: 10px;
        transition: all 0.15s ease-in-out;
        font-weight: 700;

        &:hover {
            background-color: rgb(209, 65, 65);
        }
    }
  
}